body{
  background-color: whitesmoke;
}

.group_1{
    display: flex;
    justify-content: flex-end;
    margin-right: 16rem;
    margin-top: 4rem;
}

#member{
    float:right;
    width: 6vw;
    height: 11vh;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    font-size: 12px;
    cursor: pointer;
}

@media(max-width: 940px) {
  .group_1{
    justify-content: center;
    margin: 4rem 0rem 0rem 0rem;

    
  }
  #member{
    width: 18vw;
    height: 10vh;
    margin-bottom: 2rem;

  }
}
